img{
    width: 500px;
    float: left;
    margin-left: 20px;
    
    margin-top: 50px;
}

ol{
    font-size: 15px;
    line-height: 0px;
    margin-top: 80px;
    margin-left: 15cm;
    
}